.small-margin-top {
    margin-top: 1rem;
}

h1 {
    font-family: 'Pacifico', cursive;
}

.middle-margin-top {
    margin-top: 3rem;
}

.selected_image {
    border: #e47b00 solid;
}

body {
    font-family: "EB Garamond", "Comfortaa", cursive;
}

footer {
    font-family: "EB Garamond", serif;
}



